[submodule "linux-sgx/external/dcap_source"]
	path = linux-sgx/external/dcap_source
	url = https://github.com/intel/SGXDataCenterAttestationPrimitives.git
[submodule "linux-sgx/external/openmp/openmp_code"]
	path = linux-sgx/external/openmp/openmp_code
	url = https://github.com/llvm-mirror/openmp.git
[submodule "linux-sgx/external/dnnl/dnnl"]
	path = linux-sgx/external/dnnl/dnnl
	url = https://github.com/uxlfoundation/oneDNN.git
[submodule "linux-sgx/external/ippcp_internal/ipp-crypto"]
	path = linux-sgx/external/ippcp_internal/ipp-crypto
	url = https://github.com/intel/cryptography-primitives.git
[submodule "linux-sgx/external/protobuf/protobuf_code"]
	path = linux-sgx/external/protobuf/protobuf_code
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "linux-sgx/external/sgx-emm/emm_src"]
	path = linux-sgx/external/sgx-emm/emm_src
	url = https://github.com/intel/sgx-emm.git
[submodule "linux-sgx/external/libcbor"]
	path = linux-sgx/external/libcbor
	url = https://github.com/PJK/libcbor.git
[submodule "linux-sgx/external/cbor/libcbor"]
	path = linux-sgx/external/cbor/libcbor
	url = https://github.com/PJK/libcbor.git
